<h1>Editing Book</h1>
<%= form_with model: @book, local:true do |f| %>
<div class=field>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
</div>
<div class=field>
   <%= f.label :body %>
   <br>
   <%= f.text_area :body %>
</div>
<div class="actions">
   <%= f.submit "Update Book" %>
</div>
<% end %>

<!--<a class="show" href='/books/:id'>Show</a>-->
<%= link_to "show", book_path(@book) %>
|
<%= link_to "Back", "/books" %>